*{
    box-sizing: border-box;
    /* margin: 0px; */
    padding: 0px;
    margin-bottom: 243px;
}
body{
    margin: 10px;
    color:white;
    
}
header{
    width: 1190px;
    height: 100px;
    background-color: white;
    padding-top: 32px;
    margin: -6px;
}
p{
    line-height: 0.9em;
}

.p1{
    font-size: 32px;
     /* normal, bolder, lighter */
    font-weight: bold;  
    padding-left: 60px;
   
}

ul{
    list-style: none;
    padding-top: 15px;

}
li{
    padding-bottom: 1px;
    padding-left: 10px;
 

}
span {
    color: rgb(0, 0, 0);
    padding-right: 20px;
    /* font-weight: weight; */
    width: 10em;
    /* font-size: 20px;  */
    margin-top: 10px;
}
.asideLeft{
    /* margin-left: 20px; */
    width: 150px;
    height: 500px;
    background-color: #d0722e;
    margin-bottom: 15px;
    float: left;
    margin-left: 30px;
    
}
.one1{
    height: 400px;
    
}
.two1{
    height: 10px;
    clear: left;
}

.one2{
    height: 500px;

}
.two2{
    height: 10px;
    clear: left;
}
.mainContent{
    width: 500px;
    float:left;
    height: 400px;
    margin-top: -228px;
    margin-left: 10px;
    padding-top: 20px;
}
.p1{
    background-color: #d0722e;
    width: 150px;
    height: 70px;
    text-decoration-color: white;
    margin-left: 20px
}
.welcome{
    color:#d0722e;

}

